# Default ignored files
/../../Jogo_da_Cobrinha_Python./.idea/shelf/
/../../Jogo_da_Cobrinha_Python./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Jogo_da_Cobrinha_Python./.idea/httpRequests/
# Datasource local storage ignored files
/../../Jogo_da_Cobrinha_Python./.idea/dataSources/
/../../Jogo_da_Cobrinha_Python./.idea/dataSources.local.xml
